/* body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25;
    padding: 25;
    background-color: #7dd2d7;
  }
  
  /* header */
  header {
    background-color: #00BFFF;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  h1 {
    color: rgb(63, 20, 220);
    text-align: center;
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
    padding: 10px;
  }
  
  /* container */
  .container {
    max-width: fit-content;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  /* form */
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    background-color: #00BFFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0066CC;
  }
  
  /* chart */
  .chart {
    margin-top: 50px;
  }
  
  footer {
    text-align: center;
  }